nav{
    &.navbar-inverse{
        border: none;
        background-color: @color-menu-bg;
    }
    .container-fluid{
        max-width: @container-lg;
        .navbar-header{
            .navbar-toggle{
                border: none;
                margin: 0;
                padding: 18px 15px;
                .border-radius(0);
                background: @color-menu-bg;
            }
            .navbar-brand{
                .font-lato();
                .font-size-rem(28px);
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                color: @color-white;
                position: relative;
                top: -5px;
                span{
                    display: block;
                    .font-size-rem(12px);
                    font-weight: 200;
                }
                @media (max-width: @grid-float-breakpoint-max){
                    .font-size-rem(20px);
                    top: 0;
                    span{
                        display: inline;
                        font-size: inherit;
                    }
                }
            } 
        }
        .navbar-collapse{
            border: none;
            .navbar-nav{
                margin-top: 0;
                margin-bottom: 0;
                li{
                    .font-lato();
                    .font-size-rem(16px);
                    font-weight: 300;
                    &.active{
                        a{
                            background-color: @color-menu-bg;
                        }
                    }
                }
                &.navbar-right{
                    li{
                        font-weight: 700;
                        text-transform: uppercase;
                        span{
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}