section{
    &.club-slider{
        position: relative;
        background-color: #040404;
        height: 600px;
        .owl-carousel{
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            max-width: 1360px;
            top: 0;
            .center-block();
            .slide{
                width: 100%;
                max-height: 100%;
                max-width: 1360px;
                background-size: cover;
                background-position: center top;
                .center-block();
            }
        }
        .overlay{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            pointer-events: none;
            background: fade(@color-black, 50%) url('../images/paws-pattern.png') repeat;
            .box-shadow(inset 0 0 100px fade(black, 90%));
        }
        .container{
            position: relative;
            z-index: 10;
            padding-top: 70px;
            .intro{
                .logo{
                    img{
                        .retina-visible-only();
                        .center-block();
                    }
                }
                .form{
                    margin: 20px auto;
                    text-align: center;
                    color: @color-white;
                    h3{
                        .font-size-rem(40px);
                        font-weight: 400;
                        text-transform: uppercase;
                        span{
                            font-weight: 200;
                        }
                    }
                    p{
                        .font-size-rem(18px);
                        font-weight: 300;
                        padding: 20px;
                    }
                    input{
                        .center-block();
                        width: 100%;
                        max-width: 320px;
                        padding: 10px;
                        .font-size-rem(30px);
                        background: fade(@color-black, 70%);
                        border: 2px solid @color-white;
                        text-align: center;
                        font-weight: 700;
                        margin-bottom: 20px;
                        outline: none;
                    }
                    button{
                        .flat-button(@color-red, @color-white, 26px);
                    }
                }
            }
        }
    }
}