.font-size-rem(@size){
    font-size: @size;
    font-size: unit(round((unit(@size) / 10), 3), rem);
}
.font-size-em(@pixels, @baseline: @font-size-base){
	font-size : unit(round((unit(@pixels)/unit(@baseline)),3),em);
}
.font-lato(@font: @font-lato){
    font-family: @font;
}
.border-radius(@radius){
    .border-top-radius(@radius);
    .border-bottom-radius(@radius);
}
.retina-visible-only(){
	.responsive-visibility();
	&.retina{
		.responsive-invisibility();
	}
	@media
  	only screen and (-webkit-min-device-pixel-ratio: 2),
  	only screen and (   min--moz-device-pixel-ratio: 2),
  	only screen and (     -o-min-device-pixel-ratio: 2/1),
  	only screen and (        min-device-pixel-ratio: 2),
  	only screen and (                min-resolution: 192dpi),
  	only screen and (                min-resolution: 2dppx) {
  		.responsive-invisibility();
		&.retina{
			.responsive-visibility();
		}
  	}
}
.keyframes(@name; @arguments){
    @-moz-keyframes @name{@arguments();}
    @-webkit-keyframes @name{@arguments();}
    @keyframes @name{@arguments();}
}
.appearance(@value){
	-webkit-appearance: @value;
	-moz-appearance: @value;
	appearance: @value;
}
.blur(@size){
    -webkit-filter: blur(@size);
    -moz-filter: blur(@size);
    -ms-filter: blur(@size);
    -o-filter: blur(@size);
    filter: blur(@size);
}
.flat-button(@background-color, @text-color, @font-size: 26px){
    background: @background-color;
    border: none;
    .border-radius(0);
    padding: 10px 15px;
    .font-size-rem(@font-size);
    color: @text-color;
    text-align: center;
    text-transform: uppercase;
    .transition(background 0.4s);
    &:hover{
        background: darken(@background-color, 10%);
    }
}