.make-icon(@font-name){
	@name:e(extract(@font-name, 1));
	font-family: "@{name}";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}
.make-font-face(@font-name){
	@name:e(extract(@font-name, 1));
	@font-face {
		font-family: "@{name}";
		src:url('../fonts/@{name}/@{name}.eot?-ps1uxx');
		src:url('../fonts/@{name}/@{name}.eot?#iefix-ps1uxx') format('embedded-opentype'),
			url('../fonts/@{name}/@{name}.woff?-ps1uxx') format('woff'),
			url('../fonts/@{name}/@{name}.ttf?-ps1uxx') format('truetype'),
			url('../fonts/@{name}/@{name}.svg?-ps1uxx#@{font-name}') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}
.make-icons(@font-class, @font-name, @icons-name, @icons-char){
	@class:e(extract(@font-class, 1));
	.make-font-face(@font-name);
	[class^="@{class}-"], [class*=" @{class}"] {
		.make-icon(@font-name);
	}
	.create-icon-classes(@iterator: 1) when(@iterator <= length(@icons-name)) {
		@icon-name: e(extract(@icons-name, @iterator));
		@icon-char: e(extract(@icons-char, @iterator));
		.@{class}-@{icon-name}{
			&:before{
				content: "@{icon-char}";
			}
		}
		.create-icon-classes((@iterator + 1));
	}
	.create-icon-classes();
}


