@font-base-size: 10px;

//Font Size
@font-lato: 'Lato', sans-serif;

//Colors
@color-black: #282828;
@color-menu-bg: fade(@color-black, 80%);
@color-white: #ffffff;
@color-yellow: #f4b400;
@color-blue: #4285f4;
@color-blue-dark: darken(@color-blue, 10%);
@color-blue-light: lighten(@color-blue, 10%);
@color-red: #db4437;
@color-purple: #8f499c;
@color-gray: #aaaaaa;
@color-gray-dark: darken(@color-gray, 35%);
@color-gray-darker: darken(@color-gray, 70%);
@color-gray-light: lighten(@color-gray, 35%);
@color-gray-lighter: lighten(@color-gray, 70%);

//Networks
@color-facebook: #3b5998;
@color-twitter: #55acee;
@color-gplus: #dd4b39;
@color-pinterest: #cc2127;
@color-whatsapp: #4dc247;
@color-tumblr: #35465c;
@color-instagram: #3f729b;